In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Sample house price dataset (Replace this with real data)
data = {
    "House_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Square_Feet": [1500, 1800, 2200, 1700, 2500, 2700, 3000, 3200, 2100, 1900],
    "Bedrooms": [3, 3, 4, 3, 4, 5, 5, 6, 4, 3],
    "Price": [300000, 350000, 420000, 310000, 500000, 540000, 600000, 650000, 400000, 360000]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Selecting Features for Clustering
X = df[["Square_Feet", "Bedrooms", "Price"]]

# Normalize Features (Standardization)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Applying K-Means Clustering
k = 3  # Number of clusters (You can use Elbow Method to find optimal K)
kmeans = KMeans(n_clusters=k, random_state=42, n_init=10)
df["Cluster"] = kmeans.fit_predict(X_scaled)

# Display the clustered data
print(df)

   House_ID  Square_Feet  Bedrooms   Price  Cluster
0         1         1500         3  300000        0
1         2         1800         3  350000        0
2         3         2200         4  420000        2
3         4         1700         3  310000        0
4         5         2500         4  500000        2
5         6         2700         5  540000        1
6         7         3000         5  600000        1
7         8         3200         6  650000        1
8         9         2100         4  400000        2
9        10         1900         3  360000        0

In [4]:
import pandas as pd
import numpy as np
from scipy.cluster.hierarchy import linkage, fcluster
from sklearn.preprocessing import StandardScaler

# Sample house price dataset (Replace with actual data if needed)
data = {
    "House_ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Square_Feet": [1500, 1800, 2200, 1700, 2500, 2700, 3000, 3200, 2100, 1900],
    "Bedrooms": [3, 3, 4, 3, 4, 5, 5, 6, 4, 3],
    "Price": [300000, 350000, 420000, 310000, 500000, 540000, 600000, 650000, 400000, 360000]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Selecting Features for Clustering
X = df[["Square_Feet", "Bedrooms", "Price"]]

# Normalize the Data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Perform Hierarchical Clustering using Ward's method
linkage_matrix = linkage(X_scaled, method='ward')

# Forming Clusters (Assuming 3 clusters, you can adjust this)
num_clusters = 3
df['Cluster'] = fcluster(linkage_matrix, num_clusters, criterion='maxclust')

# Display the Clustered Data
print(df)

   House_ID  Square_Feet  Bedrooms   Price  Cluster
0         1         1500         3  300000        2
1         2         1800         3  350000        2
2         3         2200         4  420000        3
3         4         1700         3  310000        2
4         5         2500         4  500000        3
5         6         2700         5  540000        1
6         7         3000         5  600000        1
7         8         3200         6  650000        1
8         9         2100         4  400000        3
9        10         1900         3  360000        2